

.header__links{
    background-color: #002f34;
    display: flex;
    justify-content: space-between;
    padding: 13px 225px 13px 225px;
    color: #ffff;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;

    img {
        width: 75px;
        height: 45px;
    }

    .urls {
        display: flex;
        gap: 39px;
        align-items: center;
        color: #ffff;

        button {
            text-decoration: none;
            border: 2px solid rgba(255, 255, 255, 0);
            outline: none;
            font-family: sans-serif;
            color: black;
            background-color: white;
            height: 100%;
            font-size: 18px;
            font-weight: 550;
            border-radius: 4px;
            padding: 0 30px;
            cursor: pointer;
            transition: all 0.1s ease;
        }

        button:hover {
            border: 2px solid white;
            color: white;
            background-color: #002f34;
        }

        button:active {
            transform: scale(0.95);
            transition: transform 0.1s ease;
        }

        a {
            text-decoration: none;
            font-family: sans-serif;
            font-size: 17px;
            font-weight: 550;
            color: #ffff;
            display: flex;
            align-items: center;
            gap: 10px;
            transition: all 0.1s ease;
        }

        a:hover {
            color: #7f9799;
            transform: scale(1.1); /* Лёгкое увеличение */
        }

        a:active {
            transform: scale(0.95); /* Лёгкое уменьшение */
            transition: transform 0.2s ease; /* Плавное уменьшение */
        }

    }
}

